.tptitle {
  text-align: center;
  color: rgb(0, 5, 61);
  font-weight: 400;
}

.pagination {
  margin-top: 10px;
}

.container_tplist {
  background-color: rgb(228, 227, 227);
  width: 100%;
  min-height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 15px;
}
