* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
}

#passwordinp {
  text-align: center;
}

#passwordinp::placeholder {
  color: white;
  text-align: center;
}

.bbt {
  display: flex;
  flex-direction: row;
  align-items: center;
  h4 {
    font-style: normal;
    color: black;
  }
}
.vent {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  h4 {
    font-style: normal;
    color: black;
    font-weight: 300;
  }
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    color: rgb(34, 34, 34);
    text-decoration: underline;
  }
}
.block_content {
  display: flex;
  align-items: center;
  padding: 0%;
  margin: 2px;
  height: 15px;
}
.margin_y {
  margin-top: 2px;
  margin-bottom: 5px;
}
.morir_con_estilo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: min-content;
  gap: 0;
  font-size: small;
  h4 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}
.cjng {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.chp {
  height: 100vh;
  background-color: rgb(228, 227, 227);
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  h2 {
    text-align: center;
    color: rgb(0, 5, 61);
    font-weight: 400;
  }
}
.coll {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    color: rgb(0, 5, 61);
    font-weight: 400;
  }
}
#kk {
  font-style: normal;
  font-size: smaller;
  color: rgb(81, 78, 78);
}

.sales_order_card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.405);
  width: auto;
  padding: 5px;
  border-radius: 10px;
  &:hover {
    cursor: pointer;
    opacity: 85%;
  }
  p {
    font-size: small;
  }
  h3,
  h4 {
    font-style: normal;
  }
}
.info_sso {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
}
.sub_sso {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;

  p {
    font-style: normal;
    font-size: small;
  }

  span {
    font-weight: 800;
  }
}
.pagination {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.container_prop_hx {
  display: flex;
  gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#container_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 255, 198);
  height: 90vh;
}
#card_succes {
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
#vmc {
  color: rgb(83, 83, 89);
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 2;

  &:hover {
    cursor: pointer;
  }
}
#success_btn_one {
  background-color: rgb(2, 66, 11);
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  padding: 8px;
  border: none;
  &:hover {
    cursor: pointer;
    opacity: 85;
  }
}
#success_btn_two {
  background-color: #b71414;
  text-align: center;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 15px;
  padding: 8px;
  &:hover {
    cursor: pointer;
    opacity: 85;
  }
}
.pecheras_g {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: stretch;
}
.text_start {
  text-align: start;
}

.btn_isession {
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  padding: 3%;
  display: flex;
  width: min-content;
  background-color: rgb(7, 201, 7);
  color: white;

  &:hover {
    background-color: rgb(5, 118, 18);
  }
}
.cont_btn_isession {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
}

#imgpreview {
  width: 120px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  height: 150px;
}

.p_absolute {
  position: absolute;
  right: 0.5;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

.dragger {
  width: auto;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-bottom: 0;
  padding: 10px;
}
#passworerror {
  color: red;
  font-size: small;
  font-style: italic;
}

#bbt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.l01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.select_pplist {
  width: 15%;
  margin-top: 5px;
  margin-bottom: 10px;
}
#uploadbtn {
  width: 100%;
  height: 40px;
}
#registerbtn {
  width: auto;
}

.form-item {
  width: 100%;
}

.container_nashe {
  display: flex;
  flex-direction: column;
  text-align: start;

  p {
    font-style: normal;
    text-align: start;
    color: #021047;
  }
}
#ffff {
  width: 80%;
}
.form-input {
  border-bottom: #22c55e 3px solid;
  text-align: center;
  color: white;
}

.form-input::placeholder {
  color: white;
}

.form-upload-btn {
  background-color: white;
  color: rgb(28, 129, 6);
}
.green-btn {
  background-color: rgb(7, 201, 7);
  color: white;

  &:hover {
    background-color: rgb(5, 118, 18);
  }
  &:disabled {
    background-color: rgb(169, 161, 161);
    cursor: not-allowed;
    color: black;
  }
}

.avatarfill {
  object-fit: contain;
}
a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}

.alert-success {
  position: fixed;
  top: 1rem; /* Similar a top-4 en Tailwind */
  background-color: #22c55e;
  color: white; /* Texto blanco (text-white en Tailwind) */
  padding: 0.5rem 1rem; /* Padding (px-4 py-2 en Tailwind) */
  border-radius: 0.5rem;
  z-index: 50;
}

.alert-error {
  position: fixed;
  top: 1rem; /* Similar a top-4 en Tailwind */
  background-color: #b71414;
  color: white; /* Texto blanco (text-white en Tailwind) */
  padding: 0.5rem 1rem; /* Padding (px-4 py-2 en Tailwind) */
  border-radius: 0.5rem;
  z-index: 50;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../frontend/public/assets/medallo.jpg") center;
  background-size: cover;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* gap: 10px; */
  width: 40%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

#searchbar {
  min-width: 250px;
}

.nazo {
  width: 100%;
  background-color: #14b783;
}
.naza {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 0;
}

.nav_flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.listings {
  height: 65vh;
}
.nav_user {
  display: flex;
  flex-direction: row;
  gap: 0px;

  h4 {
    color: rgb(66, 65, 65);
    font-style: normal;
    font-style: normal;
    font-weight: 400;
  }
}
.container_nav_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.nav_user:hover {
  cursor: pointer;
}
.upp:hover {
  background-color: rgba(60, 255, 0, 0.662);
  width: 65%;
  border-radius: 10px;
}

.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../../frontend/public/assets/ss.jpg") center;
  background-size: cover;
}
#logo {
  width: 150px;

  &:hover {
    cursor: pointer;
  }
}

#paybutton {
  width: auto;
  background-color: rgb(5, 155, 7);
  color: white;
  border-radius: 10px;
  font-size: larger;
  border: none;
  padding: 5px;
  text-transform: uppercase;
  &:hover {
    opacity: 85%;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(216, 215, 215);
    color: rgb(5, 155, 7);
  }
}

.center_div {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}

.center_zzz {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 227, 227);
  justify-content: center;
}

.custom-input:focus {
  outline: none;
  border-bottom: 2px solid green;
}
.custom-input {
  background-color: rgba(0, 0, 0, 0.05);
  width: 70%;
  color: white;
  font-size: small;
  border: none;
  text-align: center;
  border-bottom: 1px solid white;
  border-radius: 0;
  padding: 8px;

  &:focus {
    outline: none;
    border-bottom: 2px solid green;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.custom-input:focus {
  outline: none;
  border-bottom: 2px solid green;
}

#tp_init {
  padding: 5px;
  border-radius: 10px;
  background-color: inherit;
  color: green;
  width: min-content;
  border-color: green;
  border: 2px dashed green;
  font-size: small;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  &:hover {
    cursor: pointer;
    opacity: 85%;
    background-color: green;
    color: white;
    transition: 0.5s;
  }
}

@media (min-width: 1024px) {
  #card {
    width: 990px;
  }
  #searchbar {
    width: 45vw;
  }
  #tp_init {
    width: 80%;
  }
  .margin_y {
    flex-grow: 1;
    display: flex;
    justify-content: end;
  }
  .naza {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  #searchbar {
    min-width: 40px;
  }
}

@media (max-width: 533px) {
  #logo {
    width: 100px;
  }
  #searchbar {
    width: 20vw;
  }

  .nav_flex {
    margin: 0 auto;
  }

  .nav_user {
    margin: 0 auto;
  }

  .naza {
    width: 100%;
    justify-content: space-evenly;
  }

  .listings {
    height: 100%;
    width: 100vw;
    padding: 15px 0;
  }
}
